@charset "UTF-8";

:root {
    --ver: #49a09d;
    --rox: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--ver), var(--rox));
    }

    #login {
        width: 80vw;
        height: 280px;
    }

    #login > #imagem {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    #login > #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--ver), var(--rox));
    }

    #login {
        width: 950px;
        height: 350px;
    }

    #login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    #login > #formulario {
        float: left;
        width: 50%;
    }

    #formulario > h1 {
    font-size: 2em;
    }
    
    #formulario > p {
    font-size: 1em;
    margin: 20px 0px;
}
}