@charset "UTF-8";

:root {
    --ver: #49a09d;
    --rox: #5f2c82;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--ver), var(--rox));
    }

    #login {
        width: 80vw;
    }

    #imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 70%;
    }

    #login > #imagem {
    height: 100%;
    width: 30%;
    background-image: url(../imagens/estrada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--ver), var(--rox));
    }

    #login {
        width: 950px;
    }

    #imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    #formulario {
        float: right;
        width: 50%;
    }

    #login > #imagem {
    height: 100%;
    width: 50%;
    background-image: url(../imagens/estrada.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    }
}